<div class="form-container">
  <h2>Marketing Calls List</h2>

  <div class="add-btn">
    <button class="search-button" routerLink="/marketing/new">
      Add Marketing Calls
    </button>
  </div>
  <div>
    <div class="filter-row">
      <div class="filter-group">
        <label for="startDate">Start Date:</label>
        <input
          type="date"
          id="startDate"
          [(ngModel)]="startDate"
          (change)="fetchCustomerByDate()"
        />
      </div>
      <div class="filter-group">
        <label for="endDate">End Date:</label>
        <input
          type="date"
          id="endDate"
          [(ngModel)]="endDate"
          (change)="fetchCustomerByDate()"
        />
      </div>
      <div class="filter-group">
        <label for="customerName">Search:</label>
        <input
          type="text"
          placeholder="Search by customername"
          [(ngModel)]="searchText"
        />
      </div>
    </div>
  </div>

  <table class="call-table" role="table" aria-label="Call list">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Customer Name</th>
        <th>Customer Number</th>
        <th>Contact Person Name</th>
        <th>Contact Number</th>
        <th>Email</th>
        <th>City</th>
        <th>State</th>
        <th>Pincode</th>
        <th>Product Interested</th>
        <th>Meeting Date</th>
        <th>Meeting Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="marketingList.length > 0; else noRecords">
        <tr *ngFor="let c of filteredCustomer; index as i">
          <td>{{ i + 1 }}</td>
          <td>{{ c.customerName }}</td>
          <td>{{ c.customerNo }}</td>
          <td>{{ c.contactPersonName }}</td>
          <td>{{ c.contactNo }}</td>
          <td>{{ c.emailId }}</td>
          <td>{{ c.city }}</td>
          <td>{{ c.state }}</td>
          <td>{{ c.pincode }}</td>
          <td>{{ c.productInterested }}</td>
          <td>{{ c.meetingDate | date }}</td>
          <td>{{ c.meetingTime }}</td>
          <td>
            <span (click)="openViewMarketingCalls(c)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M3 17.46v3.04c0 .28.22.5.5.5h3.04c.13 0 .26-.05.35-.15L17.81 9.94l-3.75-3.75L3.15 17.1q-.15.15-.15.36M20.71 7.04a.996.996 0 0 0 0-1.41l-2.34-2.34a.996.996 0 0 0-1.41 0l-1.83 1.83l3.75 3.75z"
                />
              </svg>
            </span>
            <span (click)="deleteMarketingList(c.id)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V9c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2zM18 4h-2.5l-.71-.71c-.18-.18-.44-.29-.7-.29H9.91c-.26 0-.52.11-.7.29L8.5 4H6c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1"
                />
              </svg>
            </span>
          </td>
        </tr>
      </ng-container>
      <ng-template #noRecords>
        <tr>
          <td colspan="100%">No Records Found</td>
        </tr>
      </ng-template>
    </tbody>
  </table>
  <div class="filter-actions">
    <!-- <button (click)="view()">View</button>
        <button (click)="printList()">Print</button> -->

    <button type="button" class="search-button" routerLink="view">View</button>
  </div>
</div>
<ng-container *ngIf="isToast">
  <app-toast [message]="toastMessage" [show]="isToast"></app-toast>
</ng-container>

<div *ngIf="openMarketingModel">
  <app-view-markeing-calls
    [customerId]="customerId"
    (closeButton)="onCloseButton($event)"
  ></app-view-markeing-calls>
</div>
