<div class="form-container">
  <h2>Add Product</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group">
        <label for="name">Product Name:</label>
        <input type="text" id="name" formControlName="productName" required />
      </div>

      <div class="form-group">
        <label for="category">Category:</label>
        <input type="text" id="category" formControlName="category" required />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          id="price"
          formControlName="productPrice"
          required
        />
      </div>
    </div>

    <div class="form-actions">
      <button type="submit">
        <strong>Submit</strong>
      </button>
    </div>
  </form>
</div>
<ng-container *ngIf="isToast">
  <app-toast [message]="toastMessage" [show]="isToast"></app-toast>
</ng-container>
