.form-container {
  max-width: 900px;
  margin: 50px auto;
  background: rgb(150, 181, 238);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.479);
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  padding: 10px;
  border: 1px solid #d1c5c5;
  border-radius: 6px;
  background-color: #fff;
}

.error-text {
  color: red;
}

.meeting-row {
  display: flex;
  gap: 15px;
  align-items: flex-end;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 5px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.invalid-field {
  border: 2px solid rgba(250, 15, 15, 0.911);
}
button {
  padding: 10px;
  background-color: #1e67b9;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
}

button:hover {
  background-color: #113cb1;
}
